
  $primary-text-color: #757575;
  $title-text-color: #212121;
  $footer-contact-text-color: rgba(255, 255, 255, 0.6);
  $accent-color: #2196f3;
  $primary-white-color: #ffffff;
  $secondary-gray-color: #f5f4fa;
  $secondary-darkgray-color: #2f303a;
  $icon-gray-color: #afb1b8;

  
  $cubic: cubic-bezier(0.4, 0, 0.2, 1);
  $time: 250ms;


  $main-font: Roboto, sans-serif;
  $logo-font: Raleway, sans-serif;

  $normal:normal;
  $regular: 400;
  $medium: 500;
  $bold: 700;
  $black: 900;