/* Навигация */

.page-header {
  display: flex;
  position: relative;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  border-bottom: 1px solid #ececec;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: baseline;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.site-nav .link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  @media screen and (min-width: $tablet) {
    display: flex;
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    color: $title-text-color;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
  }
}

.site-nav {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-right: 84px;
  }
}

.link.current::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;

  @media screen and (min-width: $tablet) {
    bottom: -1px;
  }
}

.site-nav-item {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.site-nav-item .link {
  color: $title-text-color;
  // padding-bottom: 8px;
}

.navigation {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: flex;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    // align-items: center;
    // margin-right: auto;
  }
}

.navigation.is-open {
  @media screen and (max-width: 767px) {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: $primary-white-color;
    top: 100%;
    width: 100%;
    left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }
}

.site-nav .current {
  color: $accent-color;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact-link:hover,
.contact-link:focus {
  color: $accent-color;
}

/* Контакты */

.contact-info {
  padding-left: 0;
  margin: 0;

  @media screen and (max-width: 767px) {
    align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 15px;
  }
}

.contact-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 50px;
  }
}

.contact-link {
  display: flex;
  align-items: center;
  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $time $cubic;
}

.icon-mail,
.icon-smartphone {
  display: block;
  margin-right: 10px;
  background-size: contain;
  background-position: center;
}

.icon-mail,
.icon-smartphone {
  fill: currentColor;
}

.icon-mail {
  width: 16px;
  height: 12px;
}

.icon-smartphone {
  width: 10px;
  height: 12px;
}

/* Меню Бургер */

.menu-burger {
  position: absolute;
  top: 20px;
  right: 10px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-burger .icon-cross {
  display: none;
  fill: currentColor;
}

.menu-burger.is-open .icon-cross {
  display: block;
}

.icon-burger {
  fill: currentColor;
}

.menu-burger.is-open .icon-burger {
  display: none;
}
