/* Команда*/

.team {
  background-color: $secondary-gray-color;
}

.team-list {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.team-item {
  width: calc((100% - 90px) / 4);
  
 &:not(:last-child) {
  margin-right: 30px;
}
}


.team-name {
  color: $title-text-color;
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

.team-job {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

.team-card {
  background-color: $primary-white-color;

  padding: 30px 32px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.social-networks {
  display: flex;
  justify-content: center;
}

.sn-item:not(:last-child) {
  margin-right: 10px;
}

.sn {
  display: flex;
  width: 44px;
  height: 44px;
  background-position: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $icon-gray-color;

  transition-property: background-color, color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-white-color;
  }

}

.icon-ig,
.icon-tw,
.icon-fb,
.icon-ln {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

